 :root
{
    --color-one:#ffd656;
    --color-two:#6059f7;
    --color-three:#6592fe;
    --color-four:#36c3fe;
    --color-five:#8c61ff;
    --color-six:#3d3d3d;
    --color-seven:#6592fe;
    --color-eight:#1e306e;
} 
main{
    margin-top:100px;
}

